.footer {
  background-color: $colorGreyFooter;
  padding-bottom: 40px;
  padding-top: 40px;
  @include Large-screen {
    padding-bottom: 80px;
    padding-top: 80px;
  }
  &__logo {
    display: flex;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    @include tabletteAndDesktop-screen {
      justify-content: center;
      align-items: center;
    }
    &--colorSize {
      filter: invert(100%);
      width: 28vw;
      max-width: 350px;
    }
  }
  &__boxLink {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;

    @include tabletteAndDesktop-screen {
      justify-content: center;
    }
    &__position {
      padding-bottom: 5px;
      margin-right: 110px;
      @include tabletteAndDesktop-screen {
        margin-right: 20px;
      }
      &--icone {
        color: white;
        font-size: min(4.5vw, 20px);
        margin-right: 5px;
      }
      &--link {
        color: white;
        font-size: min(4.5vw, 20px);
        font-weight: 500;
      }
    }
  }
}
