.header {
  @include flexcenter;
  padding: 10px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 1);

  background-color: white;
  &__logo {
    width: 50%;
    max-width: 350px;
  }
  &__previous {
    position: absolute;
    top: min(4vw, 25px);
    left: min(5vw, 40px);
    &--icone {
      font-size: min(4vw, 30px);
      color: black;
    }
  }
}
