@keyframes color-change-11x {
  0% {
    background: rgba(255, 121, 218, 1);
  }
  10% {
    background: rgba(147, 86, 220, 1);
  }
  20% {
    background: rgba(255, 140, 223, 1);
  }
  30% {
    background: rgba(159, 107, 222, 1);
  }
  40% {
    background: rgba(255, 121, 218, 1);
  }
  50% {
    background: rgba(147, 86, 220, 1);
  }
  60% {
    background: rgba(255, 140, 223, 1);
  }
  70% {
    background: rgba(159, 107, 222, 1);
  }
  80% {
    background: rgba(255, 121, 218, 1);
  }
  90% {
    background: rgba(147, 86, 220, 1);
  }
  100% {
    background: rgba(255, 121, 218, 1);
  }
}
