@mixin mobile-screen {
  @media all and (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}
@mixin tablette-screen {
  @media all and (min-width: map-get($breakpoints, min-tablette)) and (max-width: map-get($breakpoints, max-tablette)) {
    @content;
  }
}
@mixin tabletteAndDesktop-screen {
  @media all and (min-width: map-get($breakpoints, min-tablette)) {
    @content;
  }
}
@mixin Large-screen {
  @media all and (min-width: map-get($breakpoints, large-desktop)) {
    @content;
  }
}
@mixin mobile-check($mobilecheck) {
  @media all and (min-width: $mobilecheck) {
    @content;
  }
}
@mixin mobile-check-max($mobilecheck) {
  @media all and (max-width: $mobilecheck) {
    @content;
  }
}

@mixin flexcenter {
  display: flex;
  justify-content: center;
}
@mixin flexitemscenter {
  display: flex;
  align-items: center;
}
