$breakpoints: (
  mobile-check: 368px,
  footer-tablette: 457px,
  mobile: 719px,
  min-tablette: 720px,
  max-tablette: 1024px,
  min-desktop: 1025px,
  large-desktop: 1615px,
);

$colorGrey: #f6f6f6;
$colorGreyDark: darken($colorGrey, 6%);
$colorGreyIcone: darken($colorGrey, 50%);
$colorGreyShadow: darken($colorGrey, 30%);
$colorGreyFooter: darken($colorGrey, 80%);

$colorPrimaire: #9356dc;
$colorPrimaireLight: lighten($colorPrimaire, 37%);

$colorSecondaire: #ff79da;

$colorTertiaire: #99e2d0;
$colorTertiaireDark: darken($colorTertiaire, 40%);

$colorPrimaireGradient: rgba(147, 86, 220, 1) 71%;
$colorPrimaireGradientLight: rgba(159, 107, 222, 1) 71%;
$colorPrimaireGradientLightReverse: rgba(159, 107, 222, 1) 12%;

$colorSecondaireGradient: rgba(255, 121, 218, 1) 12%;
$colorSecondaireGradientLight: rgba(255, 140, 223, 1) 12%;
$colorSecondaireGradientLightReverse: rgba(255, 140, 223, 1) 71%;
